
.pricing .active{
  background: #fff;
}

.pricing .active div{
  color: #000;
}

.pricing .active p{
  color: #03ecc9;
  text-shadow: 1px 1px 2px black;
}

.pricing .active button{
  background: #000;
  color: #fff;
}


.plane div{
  padding: 25px 40px;
  color: #fff;
  width: 100%;
  height: 100%;
  font-weight: 900;
  border-top: 3px solid #111827;
  text-align: center;
  background: transparent;
}
.plane .first{
  border: none;
}